@use 'media' as *;
@use 'functions' as *;
@use 'metrics' as *;
@use 'fonts' as *;

.section {
  margin: $section-margin auto;
  padding-block: $spacer-lg;
  min-height: 100vh;

  &__header {
    margin: $spacer-sm 0;
  }
  &__title {
    font-weight: 600;
    font-family: $heading-family;

    &--large {
      @include font(h4);
    }
    &--small {
      @include font(h5);
    }
  }

  &__content {
    margin: $spacer-lg 0;
  }
}

.container--copy {
  max-width: 50ch;
}

// .content-wrapper {
//   margin: $spacer-md 0;

//   & > * {
//     margin: $spacer-md 0;
//   }
// }

.container {
  width: 100%;
  max-width: rem(750);

  margin: auto;
  padding-inline: $spacer-md;

  @include screen(small) {
    max-width: rem(950);
    padding-inline: $spacer-lg;
  }

  @include screen('medium') {
    max-width: rem(1200);
  }

  @include screen('large') {
    max-width: rem(1400);
  }
  @include screen('xlarge') {
    max-width: rem(1750);
  }
}

@mixin flex-wrap-col {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
}
@mixin flex-wrap-row {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
}

@mixin grid-flow-col {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
@mixin grid-flow-row {
  display: grid;
  grid-auto-flow: row;
  justify-content: space-between;
  align-items: center;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin media-scroller($column-width) {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: $column-width;
  gap: $spacer-md;

  overflow-x: auto;
  overscroll-behavior-inline: contain;

  scroll-snap-type: inline mandatory;
  scroll-padding-inline: $spacer-sm;

  & > * {
    scroll-snap-align: start;
  }
}

@mixin media-scroller-y($row-height) {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: $row-height;
  gap: $spacer-md;

  overflow-y: auto;
  // overscroll-behavior-inline: contain;
  overscroll-behavior-block: contain;

  // scroll-snap-type: inline mandatory;
  scroll-snap-type: block mandatory;
  // scroll-padding-inline: $spacer-sm;
  scroll-padding-block: $spacer-sm;

  & > * {
    scroll-snap-align: start;
  }
}
