@use './config/colors' as *;
@use './config/functions' as f;
@use './config/fonts' as *;
@use './config/metrics' as *;
@use './config/layout' as *;

.button {
  display: grid;
  place-content: center;

  width: fit-content;
  height: f.rem(40);

  font-size: size(body);
  font-weight: 600;
  line-height: 1.125;
  text-decoration: none;
  text-transform: capitalize;

  padding: $spacer-sm $spacer-md;

  border: 2px solid transparent;

  transition: all $transition;

  cursor: pointer;

  color: $light-gray;
  background-color: $mid-gray;

  .icon {
    display: grid;
    place-content: center;
  }

  &:hover {
    color: $blue-500;
    background-color: $blue-50;
    border-color: $blue-500;
  }
  &:focus {
    color: $blue-50;
    background-color: $blue-500;
    border-color: $blue-900;
  }

  &--main {
    color: $primary-50;
    background-color: $primary-500;
  }

  &--pill {
    padding: $spacer-xs $spacer-md;
    border-radius: f.rem(30);
  }

  &--round {
    @include center;

    width: f.rem(40);
    height: f.rem(40);

    padding: 0;
    border-radius: 50%;
  }

  &--outline {
    color: $dark-gray;
    background-color: transparent;
    border-color: currentColor;
  }

  &--transparent {
    color: $dark-gray;
    background-color: transparent;
  }

  &--success {
    color: $green-900;
    background-color: $green-50;
    border-color: $green-900;
  }

  &--icon {
    display: grid;
    grid-auto-flow: column;
    gap: $spacer-xs;
    align-items: center;
    justify-content: space-between;
  }

  &--frosted {
    @include frosted-glass($mid-gray);
  }

  &--small {
    padding: f.rem(4) f.rem(8);
  }
}
